.tree-wrap {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  background-size: auto 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transform: scale(1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

img {
  height: 55px;
}

@media(max-width: 992px) {
  .tree-wrap {
    width: 55px;
    height: 55px;
    border-radius: 9px;
    background-size: auto 55px;
  }

  img {
    height: 50px;
  }
}