.btn {
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  color: var(--color-white);
  cursor: pointer;
  overflow: hidden;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 7px 35px;
  // margin-bottom: 10px;
  // margin-top: -15px;

  &:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
  }
}

@media (max-width: 768px) {
  // .btn {
  //   width: 100%;
  // }

}