button {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
    transform: scale(1);
  
    :hover {
      transform: scale(1.05);
    }
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;
}

.snowflake {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2em;
  color: var(--color-white);
  user-select: none;
  animation-name: fall;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  left: 0;
  right: 0;
}

// Разные задержки и позиции для разного поведения
.snowflake:nth-child(1) {
  left: 5%;
  animation-delay: 0s;
}

.snowflake:nth-child(2) {
  left: 12%;
  animation-delay: 0.5s;
}

.snowflake:nth-child(3) {
  left: 18%;
  animation-delay: 1s;
}

.snowflake:nth-child(4) {
  left: 25%;
  animation-delay: 1.5s;
}

.snowflake:nth-child(5) {
  left: 32%;
  animation-delay: 0.3s;
}

.snowflake:nth-child(6) {
  left: 38%;
  animation-delay: 1.2s;
}

.snowflake:nth-child(7) {
  left: 45%;
  animation-delay: 2s;
}

.snowflake:nth-child(8) {
  left: 52%;
  animation-delay: 2.5s;
}

.snowflake:nth-child(9) {
  left: 58%;
  animation-delay: 0.8s;
}

.snowflake:nth-child(10) {
  left: 63%;
  animation-delay: 1.8s;
}

.snowflake:nth-child(11) {
  left: 70%;
  animation-delay: 2.3s;
}

.snowflake:nth-child(12) {
  left: 75%;
  animation-delay: 3s;
}

.snowflake:nth-child(13) {
  left: 80%;
  animation-delay: 0.6s;
}

.snowflake:nth-child(14) {
  left: 85%;
  animation-delay: 1.6s;
}

.snowflake:nth-child(15) {
  left: 90%;
  animation-delay: 2.7s;
}

@keyframes fall {
  0% {
    transform: translateY(-10px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.5;
  }
}