.christmas-tree__bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}

.christmas-tree {
  display: block;
  height: calc(100vh - var(--footer-height) - var(--header-height) - 30px);
}

.tree-toys {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.tree-toys img {
  position: absolute;
  width: 50px;
  height: 50px;
  pointer-events: none;
}


@media(max-width: 1100px) {
  .christmas-tree__bg {
    height: calc(100vh - var(--footer-height));
  }
}

@media(max-width: 768px) {
  .christmas-tree__bg {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .christmas-tree__bg {
    width: 380px;
  }
}



.garland-container {
  display: none;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media(min-width: 1200px) {
  .garland-container {
    gap: 80px;
  }
}

@media(max-width: 992px) {
  .garland-container {
    gap: 70px;
    top: 30%;
  }
}

@media(max-width: 768px) {
  .garland-container {
    gap: 50px;
  }
}

.lightrope {
  width: 100%;
  height: 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media(min-width: 1200px) {
  .lightrope {
    gap: 17px;
  }
}

@media(max-width: 992px) {
  .lightrope {
    gap: 10px;
  }
}

@media(max-width: 768px) {
  .lightrope {
    gap: 8px;
  }
}



.lightrope li {
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: blink 0.7s infinite alternate;
}

/* multi: мигание сменой оттенков */
.lightrope li.multicolor {
  background-color: #ffffff;
  box-shadow: 0 0 10px #ffffff;
  animation: multiBlink 1s infinite alternate;
}

/* red */
.lightrope li.red {
  background-color: #ff3b3b;
  box-shadow: 0 0 10px #ff3b3b;
}

.lightrope li.red.on {
  filter: brightness(1.7);
}

/* yellow */
.lightrope li.yellow {
  background-color: #ffd93b;
  box-shadow: 0 0 10px #ffd93b;
}

.lightrope li.yellow.on {
  filter: brightness(1.7);
}

/* green */
.lightrope li.green {
  background-color: #3bff4a;
  box-shadow: 0 0 10px #3bff4a;
}

.lightrope li.green.on {
  filter: brightness(1.7);
}

/* blue */
.lightrope li.blue {
  background-color: #3ba2ff;
  box-shadow: 0 0 10px #3ba2ff;
}

.lightrope li.blue.on {
  filter: brightness(1.7);
}

@keyframes blink {
  from {
    filter: brightness(0.6);
  }

  to {
    filter: brightness(1.5);
  }
}

@keyframes multiBlink {
  0% {
    background-color: #ff3b3b;
    /* красный */
    box-shadow: 0 0 10px #ff3b3b;
  }

  17% {
    background-color: #ffd93b;
    /* жёлтый */
    box-shadow: 0 0 10px #ffd93b;
  }

  33% {
    background-color: #ff8c00;
    /* оранжевый */
    box-shadow: 0 0 10px #ff8c00;
  }

  50% {
    background-color: #3bff4a;
    /* зелёный */
    box-shadow: 0 0 10px #3bff4a;
  }

  67% {
    background-color: #3ba2ff;
    /* синий */
    box-shadow: 0 0 10px #3ba2ff;
  }

  83% {
    background-color: #9b30ff;
    /* фиолетовый */
    box-shadow: 0 0 10px #9b30ff;
  }

  100% {
    background-color: #ff3b3b;
    /* красный, повтор */
    box-shadow: 0 0 10px #ff3b3b;
  }
}