.christmas-tree__bg {
  display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../../../../../assets/images/bg/1.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - var(--footer-height) - var(--header-height));
    // min-height: 750px;
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}
img {
  display: block;
    height: calc(100vh - var(--footer-height) - var(--header-height) - 30px);
}

@media(max-width: 1100px) {
  .christmas-tree__bg {
    height: calc(100vh - var(--footer-height));
  }
}
@media(max-width: 768px) {
  .christmas-tree__bg {
    width: 500px;
  }
}
@media(max-width: 576px) {
  .christmas-tree__bg {
    width: 380px;
  }
}
