.tree__setting-top {
  display: flex;
  gap: 30px;
  align-items: center;
}

app-button-volume,
app-button-snow {
  width: 30px;
  height: 30px;
}

.tree__setting {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trees,
.bgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

p {
  margin-bottom: 10px;
}

.garlands {
  display: flex;
  align-items: center;
  gap: 15px;
}

.color__btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;

  transform: scale(1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.multicolor {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}

.red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.blue {
  background-color: #24E0FF;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.yellow {
  background-color: #FF0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.green {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  border-radius: 26px;
  transition: 0.3s;
  border: 1px solid var(--color-accent);
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Checked state */
.switch input:checked+.slider {
  background-color: #237E8F;
}

.switch input:checked+.slider::before {
  transform: translateX(24px);
}

@media(max-width: 992px) {
  .tree__setting-top {
    margin-bottom: 0;
  }
}

@media(max-width: 768px) {
  app-button-volume,
  app-button-snow {
    width: 25px;
    height: 25px;
  }
}