<div class="tree__setting">
  <div class="tree__setting-top">
    <app-button-volume></app-button-volume>
    <app-button-snow></app-button-snow>
  </div>
  <div class="tree__setting-tree">
    <p>ВЫБЕРИТЕ ЁЛКУ</p>
    <div class="trees">
      <app-tree-card></app-tree-card>
      <app-tree-card></app-tree-card>
      <app-tree-card></app-tree-card>
      <app-tree-card></app-tree-card>
      <app-tree-card></app-tree-card>
      <app-tree-card></app-tree-card>
    </div>
  </div>
  <div class="tree__setting-bg">
    <p>ВЫБЕРИТЕ ФОН</p>
    <div class="bgs">
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
      <app-tree-bg></app-tree-bg>
    </div>
  </div>
  <div class="tree__setting-garland">
    <p>ВЫБЕРИТЕ ГИРЛЯНДУ</p>
    <div class="garlands">
      <button class="color__btn multicolor__btn"></button>
      <button class="color__btn red__btn"></button>
      <button class="color__btn blue__btn"></button>
      <button class="color__btn yellow__btn"></button>
      <button class="color__btn green__btn"></button>
      
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider"></span>
      </label>

    </div>
  </div>
</div>
