<div class="tree__setting">
  <div class="tree__setting-top">
    <app-button-volume (audioSwitched)="onAudioSwitched()" [isAudioOn]="audio$ | async"></app-button-volume>
    <app-button-snow (snowSwitched)="onSnowSwitched()" [isSnowing]="(isSnowing$ | async)!"></app-button-snow>
  </div>
  <div class="tree__setting-tree">
    <p>ВЫБЕРИТЕ ЁЛКУ</p>
    <div class="trees">
      @for (tree of trees$ | async; track $index) {
        <app-tree-card [tree]="tree" (chosenTree)="onChosenTree($event)"></app-tree-card>
      }
    </div>
  </div>
  <div class="tree__setting-bg">
    <p>ВЫБЕРИТЕ ФОН</p>
    <div class="bgs">
      @for (bg of bgs$ | async; track $index) {
        <app-tree-bg [bg]="bg" (bgChosen)="onBgChosen($event)"></app-tree-bg>
      }
    </div>
  </div>
  <div class="tree__setting-garland">
    <p>ВЫБЕРИТЕ ГИРЛЯНДУ</p>
    <div class="garlands">
      @for (garland of garlands$ | async; track $index) {
        <button class="color__btn" [ngClass]="garland.color" (click)="changeColor(garland.color)"></button>
      }
      
      <label class="switch">
        <input type="checkbox" (change)="onSwitch($event)">
        <span class="slider"></span>
      </label>

    </div>
  </div>
</div>
