.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid var(--color-accent);
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: start;
  align-items: center;
  // gap: 40px;
}

.menu__item a {
  transition: 0.3s;

  &:hover {
    color: var(--color-accent);
  }
}

.route {
  padding: 15px;
}

.logo__tree {
  width: 35px;
  height: 35x;
  transform: scale(1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}



.logo__tree path {
  fill: #ff3b3b;
  animation: multiBlink 1.5s infinite linear;
}

@keyframes multiBlink {
  0% {
    fill: #ff3b3b;
  }

  17% {
    fill: #ffd93b;
  }

  33% {
    fill: #ff8c00;
  }

  50% {
    fill: #3bff4a;
  }

  67% {
    fill: #3ba2ff;
  }

  83% {
    fill: #9b30ff;
  }

  100% {
    fill: #ff3b3b;
  }
}