button {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
  
    :hover {
      transform: scale(1.05);
    }
}