.settings__top {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  // width: 100%;

  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

app-search {
  margin-left: 10px;
}

.settings__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    width: 250px;
    padding: 8px 14px;
    appearance: none;
    outline: 0;
    color: var(--color-white);
    border: 1px solid var(--color-accent);
    border-radius: 30px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    background-image: url(../../../../../assets/images/svg/arrow-down.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 214px center;
    cursor: pointer;
    padding-right: 20px;
  }

  option {
    color: inherit;
    background-color: #183E42;
  }
}

.settings__filter {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-toys,
  &-colors,
  &-sizes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    // border: 2px solid var(--color-accent);
    // border-radius: 20px;
    // padding: 10px;
    // color: var(--color-white);
    // background-color: rgba(31, 112, 127, .3);
    // backdrop-filter: blur(6px);
  }

  &-toy,
  &-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    // padding: 2px;
  }

  &-colors {
    gap: 20px;
  }

  &-sizes {
    gap: 20px;
  }

  &-size {
    gap: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  
  &-favorites, &-color-wrap, &-size-wrap {
    display: flex;
    gap: 25px;
  }
  
  &-range {
    display: flex;
    flex-direction: column;
    gap: 7px;
    
    &-years {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid transparent;
    }
  }
}

.settings__btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.btn {
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  color: var(--color-white);
  cursor: pointer;
  overflow: hidden;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 7px 35px;
  // margin-bottom: 10px;
  // margin-top: -15px;

  &:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
  }
}

.saved {
  background-color: #00ff66ba
}

.toy__name {
  font-size: 0.9rem;
}

.toys__img {
  width: 30px;
  height: 30px;
}

.color__img {
  width: 20px;
  height: 20px;
}


/* Checkbox */
/* Убираем дефолтный стиль */
.settings__filter-size input {
  display: none;
}

/* Стилизуем "коробочку" */
.settings__filter-size span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

/* Галочка (после нажатия) */
.settings__filter-size input:checked+span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -2px;
  width: 6px;
  height: 12px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  background-color: transparent;
}

/* Заполнение фона, когда чекнут */
.settings__filter-size input:checked+span {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

/* Range */
/* Сброс дефолтного стиля */
input[type="range"] {
  -webkit-appearance: none;
  /* Chrome, Safari */
  appearance: none;
  width: 100%;
  height: 3px;
  background: #a4a4a4;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* Стиль ползунка (thumb) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  /* margin-top: -6px; Чтобы ползунок был по центру трека */
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.selected {
  // border: 2px solid var(--color-accent);
    border-radius: 7px;
    color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #00ff66ba 0 -1px 9px, #00ff66ba 0 2px 10px;
    background-color: #00ff66ba;
    backdrop-filter: blur(6px);
}

.year-selected {
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #00ff66ba 0 -1px 9px, #00ff66ba 0 2px 10px;
  border: 1px solid #00ff66ba;
  border-radius: 7px;
  padding: 3px;
}