<div class="favourites__list">
  <p>ИГРУШКИ</p>
  <div class="favourite__toys">
    <div class="toy-wrap">
      <img src="assets/images/toys/1.png" alt="tree">
    </div>
    <div class="toy-wrap">
      <img src="assets/images/toys/2.png" alt="tree">
    </div>
    <div class="toy-wrap">
      <img src="assets/images/toys/3.png" alt="tree">
    </div>
    <div class="toy-wrap">
      <img src="assets/images/toys/4.png" alt="tree">
    </div>
    <div class="toy-wrap">
      <img src="assets/images/toys/5.png" alt="tree">
    </div>
    <div class="toy-wrap">
      <img src="assets/images/toys/6.png" alt="tree">
    </div>
    <div class="toy-wrap">
      <img src="assets/images/toys/7.png" alt="tree">
    </div>
  </div>
</div>
