.favourites__list {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.favourite__toys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

img {
  height: 50px;
  width: 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}
