/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/fonts';

.container {
  max-width: 1276px;
  width: 100%;
  margin: 0 auto;

  @include _768-block {
    max-width: 768px;
  }

  @include _420-block {
    max-width: 380px;
  }
}



body.lock {
  overflow: hidden;
}

* {
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Neucha, sans-serif;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  // line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}


@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  
    .container {
      max-width: 768px;
    }
}

@media (max-width: 480px) {
    .container {
      max-width: 380px;
    }
}