.bg-wrap {
  width: 60px;
  height: 60px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

@media(max-width: 992px) {
  .bg-wrap {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}