.toy-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-content: center;
  text-align: center;
  border: 3px solid var(--color-accent);
  border-radius: 20px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  gap: 10px;
  padding: 20px;
}

.name {
  font-size: 1.3rem;
}

img {
  height: 100px;
  width: auto;
  display: inline-block;
  margin: 0 auto;
}