.toy-card {
  width: 250px;
  height: 370px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-content: center;
  text-align: center;
  border: 3px solid var(--color-accent);
  border-radius: 20px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  gap: 10px;
  padding: 25px;
  cursor: pointer;
}

.name {
  font-size: 1.3rem;
}

img {
  height: 100px;
  width: auto;
  display: inline-block;
  margin: 0 auto;
}

/* Кнопка */
.favorite-btn {
  position: absolute;
  bottom: 10px;
  right: 13px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стандартное сердечко */
.heart-icon {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: #d1d1d1;
  /* серый контур */
  stroke-width: 2;
  transition: 0.25s ease;
}

/* Активное — красное */
.favorite-btn.active .heart-icon {
  fill: #e63946;
  /* красный */
  stroke: #e63946;
  transform: scale(1.15);
}